body{
    background-color: aquamarine;
    font-family: sans-serif;
}
header{
    text-align: center;
    height: 300px;
}
main{
    background-color: white;
}
h1{
    color: #ff9fb2;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
h2{
    color: #ff9fb2;
    text-transform: uppercase;
}
a{
    color: white;
    text-decoration: none;
}
li{
    list-style-type: none;
    display: inline;
}
article{
    width: 300px;
    background-color: green;
}
footer{
    color: black;
    text-align: right;
}

table{
    border: black solid 2px;
    text-align: center;
}
td{
    border: solid black 1px;
}
.personajes{
    border: white solid 0px;
}
.personajes td{
    border: white solid 0px;
}