/*Cuerpo*/
main {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: #eaf2d7;
    border-radius: 4px;

    h2 {
        color: $color-letra;
        text-align: $texto-alineado;
        text-transform: $letra-mayus;
        font-weight: bold;
        padding: 1rem;
    }

    h3 {
        color: $color-letra;
        text-align: $texto-alineado;
        text-transform: $letra-mayus;
        padding: 1rem;
    }

    section {
        padding: 1rem;
        display: grid;
        align-items: center;
        justify-content: center;

        p {
            text-align: justify;
            margin: 0;
            padding: 1rem 0rem 1rem 0rem;
        }

        div {
            p {
                text-align: center;
            }
        }
    }

    div {
        table {
            text-align: $texto-alineado;

            tr {
                td {
                    border: solid black 1px;
                }
            }
        }
    }

    div {
        p {
            padding: 1rem;
        }
    }

    .pregunta {
        text-align: $texto-alineado;
        display: grid;
        align-items: center;
        justify-content: center;
        padding: 4rem;

        p {
            font-weight: bold;
            margin: 0;
            text-align: center;
            font-size: 20px;
        }
    }

    //Formulario
    .formulario {
        padding: 2rem;

        div {
            .form-control {
                background-color: rgba(255, 192, 203, 0.651);
            }

            label {
                color: black;
            }
        }
    }
}