/*Menú*/
nav {
    text-align: $texto-alineado;
    background-color: $color-fondo;


    li {
        list-style-type: none;
        display: inline;
        padding: 0px 10px 0px 10px;

        a {
            text-decoration: none;
            color: #ea9ab2 !important;
            font-weight: bold !important;
            text-transform: $letra-mayus;
            border-radius: 8px;

            &:hover {
                background-color: $color-letra;
                color: #eaf2d7 !important;
                transition: all 0.4s;
            }
        }
    }
}