@import "variables";
@import "nav";
@import "main";

/*General*/
body {
    margin: 0;
    background-color: $color-fondo;
    font-family: 'Raleway', sans-serif;
}

/*Encabezado*/
header {
    height: 400px;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: $espacio-int;

    h1 {
        color: $color-letra;
        text-align: $texto-alineado;
        text-transform: $letra-mayus;
        font-weight: bold;
    }
}

/*Pie de página*/
footer {
    padding: 2rem;

    p{
        margin: 1rem 0rem 1rem 0rem;
    }

    li {
        list-style-type: none;
        display: inline;
        
        a {
            text-decoration: none;
            color: black;
            font-size: 20px;
            padding: 0rem 1rem 0rem 1rem;
            margin: 0rem 1rem 0rem 1rem;


            &:hover {
                background-color: $color-letra;
                color: white !important;
                transition: all 0.4s;
            }

        }
    }
}

/*KeyFrames*/

//Vista celular
@media (max-width: 600px) {
    header {
        height: 100px;
    }
}

//Vista tablet
@media (min-width:601px) and (max-width:900px) {
    header {
        height: 250px;
    }
}