@import "variables";
@import "nav";
@import "main";

/*General*/
body {
    margin: 0;
    background-color: $color-fondo;
    font-family: 'Raleway', sans-serif;
} 

/*Encabezado*/
header {
    text-align: $texto-alineado;
    height: 400px;

    h1 {
        color: $color-letra;
        text-align: $texto-alineado;
        text-transform: $letra-mayus;
        font-size: 70px;
        font-weight: bold;
        padding-top: 100px;
    }
}

/*Pie de página*/
footer {
    color: rgb(122, 122, 122);
    padding-top: 30px;
    li {
        list-style-type: none;
        display: inline;
        padding: 0px 10px 0px 10px;

        a {
            text-decoration: none;
            color: black;
            font-weight: bold;

            &:hover {
                background-color: $color-letra;
                color: white !important;
                border-radius: 8px;
                transition: all 0.4s;
            }
        }
    }
}
